html{
	max-width:1024px;
	font-family: 'Roboto', 'sans-serif';
	margin:auto;
	padding:5px;
}

body{

	background-image:url("assets/banner-v.jpg");
	background-attachment:fixed;
}

.main {
	background-color:#fff;
	margin:5px 0px 0px 0px;
	padding:1px 10px 10px 10px;
	border-radius:3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.screenshots{
	width: auto;
    overflow-x: auto;
    white-space: nowrap;
}
.screenshots img{
	height:300pt;
	border-radius:3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555;
	/*border-radius:5px;*/
	height:48px;
}

.navul img{
	padding:0px;
	max-height:100%;
	max-width:100%;
}

.navli {
	/*display: inline-block;*/
	color:white;
	text-align:center;
	padding: 14px 16px;
	vertical-align: middle;
}



.navli.on{
	background-color:#222;
}

.navli a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navli a:hover {
    background-color: #999;
}
